body{
    font-family:sans-serif;
    background-color:#20212a;
    color:#d74d63;
  }
  header{
    font-size:30px;
  }
  #navbar{
    position:fixed;
  }
  .navbar-elm{
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:300px;
    background-color:#ffffff;
    height:96vh;
    overflow:auto;
    color:#1a1a1a;
    transition:border-radius .5s ease;
    display:block;
  }
  .navbar-elm:hover{
    border-radius:40px;
  }
  .nav-link{
    display:block;
    color:black;
    padding:15px 16px;
    text-decoration:none;
    list-style-type:none;
    text-align:center;
    font-size:18px;
    transition:color .5s ease,text-shadow .5s ease;
  }
  .nav-link:hover{
    color:#d74d63;
    text-shadow:0px 0px 15px #d74d63;
  }
  .navbar-header{
    text-align:center;
  }
  #main-doc{
    margin:0px;
    margin-left:320px;
  }
  .hr{
    border:2px solid #d74d63;
    border-radius:5px;
  }
  
  @media screen and (max-width:600px){
    .navbar-elm{
      position:fixed;
      width:250px;
    }
    #main-doc{
      margin-left:260px;
    }
  }
  